body{
	background-color: pink;
}
/*html  {font-family: "Montserrat", sans-serif;
	}*/
header{
		text-align: center;
		font-size: 30;
		background-image: url("/images/imageedit_1_9741139575.jpg");
		height: 150px;
		border-style: solid;

	}

div.story img{
	float: right;
	margin: 0px 70px;
	border-style: solid;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width:130px;
    height: 120px;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}